*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0 10px 10px;
    background-color: aqua;
    color: blueviolet;

}
.ui{
    
    margin: 10px;
 padding: 10px 30px; 
 align-items: center;  
}